<div class='main-nav'>
    <md-toolbar color="accent" class="nav-header">
        <a [routerLink]="['/home']" (click)="onSelect()" tabindex="-1">Your recipes</a>
    </md-toolbar>
    <profile-card></profile-card>
    <hr />
    <div class="nav-line-separator"></div>
    <md-list>
        <md-list-item>
            <a [routerLink]="['/home']" (click)="onSelect()" tabindex="-1">
                Home
            </a>
        </md-list-item>
        <md-list-item>
            <a [routerLink]="['/counter']" (click)="onSelect()" tabindex="-1">
                Counter
            </a>
        </md-list-item>
        <md-list-item>
            <a [routerLink]="['/fetch-data']" (click)="onSelect()" tabindex="-1">
                Fetch data
            </a>
        </md-list-item>
    </md-list>
</div>
