<div class='main-nav'>
    <h2 class="nav-header">
        <a [routerLink]="['/home']" (click)="onSelect()">Your recipes</a>
    </h2>
    <ul class='nav navbar-nav'>
        <li>
            <a [routerLink]="['/home']" (click)="onSelect()">
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['/counter']" (click)="onSelect()">
                Counter
            </a>
        </li>
        <li>
            <a [routerLink]="['/fetch-data']" (click)="onSelect()">
                Fetch data
            </a>
        </li>
    </ul>
</div>
